* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: $background-color;
}
.flyingehus-container {
	max-width: 1280px;
	margin: auto;
	padding: $space-xxs;
}
.flyingehus-button {
    padding: 5px 20px;
    margin-bottom: 20px;
		background-color: #FFF8BC;
		border: 1px solid $color;
		border-radius: 4px;
		.fa-arrow-left {
			color: $color;
		}
}
@media all and (min-width: $screen-xs) {
}

@media all and (min-width: $screen-sm) {
	.flyingehus-container {
		padding: $space-sm;
	}
}
