.navbar.navbar-default{
  background: transparent;
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
  min-height: 0px;

}
.navbar-default .navbar-toggle {
  background: transparent;
  border: none;
  &:hover, &:active, &:focus{
    background: transparent;
    border: none;
  }
  .icon-bar {
   background-color: #000;
 }
}
.navbar-default .navbar-collapse {
  border-top: none;
}
#primarynav {
  li {
    a {
      color: #000;
      font-weight: bold;
      padding: 0;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}
#logo {
  width: 150px;
  img {
    width: 100%;
  }
}

@media all and (min-width: $screen-sm) {
  #primarynav {
    margin-top: $space-sm;
  }
  #logo {
    width: 200px;
  }
}

@media all and (min-width: $screen-md) {

}
