$backround-color: #FDF5B7;
$transparent-background-color: rgba(253, 245, 183, 0.5);
/*
* TEXT
*/
//color
$color: #00006A;
$heading-color: #00006A;
$link-color: #900;
$link-hover: #83B;

// size
$heading-xs: 16px;
$heading-sm: 18px;
$heading-md: 20px;
$heading-lg: 26px;
$text-sm: 14px;
$text-md: 15px;
$text-lg: 16px;

/*
* MARGIN PADDING
*/
$space-xxs: 5px;
$space-xs: 10px;
$space-sm: 20px;
$space-md: 35px;
$space-lg: 50px;

/*
*  BREAKPOINTS
*/
$screen-xs: 460px;
$screen-sm: 768px;
$screen-md: 990px;
$screen-lg: 1280px;
